*{margin: 0px; padding: 0px; box-sizing: border-box;}
#wrap{width: 1000px; height: 970px; margin: 0 auto;}
header{width: 1000px; height: 120px;}
section{width: 1000px; height: 850px;}
section>*{margin:5px;}
footer{width: 100%; height: 120px; background-color: #e5e6e8; float: left;}

a{text-decoration: none; color: black;}
a:hover{color: skyblue;}
li{list-style: none;}

.logo_box{
    width: 250px; height: 120px; line-height: 190px; float: left; text-align: center;
}
.login_box{
    width: 225px; height: 30px; float: right; margin-bottom: 10px; margin-top: 15px;
}
.login_box > li >a{
    width: 75px; height: 30px; float: left; line-height: 30px; text-align: center; border: 1px solid #EFEFEF; font-size: 13px;
}
input{
    height: 36px; float: right;
}
.input_box{
    float: right; margin-left: 30px; margin-top: 10px; margin-bottom: 10px;
}
.input_box > img{float: right; cursor: pointer;}

.drop_top{width: 750px; height: 55px; float: left; border-top: 1px solid midnightblue; position: relative; z-index: 100;}
.drop_top > li{width: 150px; height: 50px; float: left; line-height: 50px; text-align: center; font-weight: bold; background-color: white;}
.drop_top > li > ul > li {font-size: 14px; background-color: white;}

.drop_top > li > ul{ border: 1px solid midnightblue; border-radius: 20px 0px;}

.drop_top > li > ul{height: 0px; overflow: hidden; transition: 1s;}
.drop_top > li:hover >.submenu_5{height: 250px;}
.drop_top > li:hover >.submenu_7{height: 350px;}
.drop_top > li:hover >.submenu_8{height: 400px;}
.drop_top > li:hover >.submenu_9{height: 450px;}

.slider {
    width: 1000px; height: 500px; position: relative; overflow: hidden;margin:0;
}
.slider > .box{
    width: 1000px; height: 500px; position: relative;
}
.slider > .box > img{
    width: 1000px; height: 500px; position: absolute; left: -1000px;
}
.slider > .box img:first-child{left: 0;}
.dog{position: absolute; z-index: 100; margin-top: 120px; display: none; cursor: pointer;}

.table_box{width: 540px; height: 155px;  float: left; border: 1px solid rgba(25, 25, 112, 0.47); background-color: #f1f1f8;
    padding-left: 5px; font-size: 14px; position: relative;
    /*padding: 5px;*/
}
th{float: left; width: 95px; height: 30px; text-align: left; line-height: 30px; cursor:pointer; font-size: 18px;}
.notice_name{color: #4171ff;}
.the_look{width: 70px; height: 30px; line-height: 30px; position: absolute; margin-left: 455px;}
td{height: 22px;}
.notice_area{width: 530px;}
.date{width: 150px; text-align: center;}
.table_box>table:nth-child(3){display: none;}

.sub_img_box{width: 440px; height: 340px; float: right; cursor: pointer; border: 1px solid rgba(25, 25, 112, 0.47);}
.sub_img_box > img {width: 100%; height: 100%;}

.job_jung{width: 269px; height: 170px; float: left; padding: 5px;}
.school_food{width: 269px; height: 170px; float: left; padding: 5px;}
.school_food{width: 269px; height: 170px; float: left; padding: 5px;}

.food_box{width: 540px; height: 175px; float:left; text-align: center;
    /*padding:5px;*/border: 1px solid rgba(25, 25, 112, 0.47);
    background-color: #f1f1f8;}
.food_box > .school_food > p {font-weight: bold;}
.food_box img{width: 240px; height: 135px; cursor: pointer;}

.sub_pup_box{width: 550px; height: 450px; position: absolute; z-index: 100; top: 320px; display: none; border: 1px solid black; left: 50%; margin-left: -275px; background-color: white; }
.sub_pup_box>div{width:440px;margin:10px auto;}
.sub_pup_box button{width: 100px; height: 50px; display:block;margin:15px auto;}

.food_pup_box{position: absolute; z-index: 100; top: 295px; display: none; border: 1px solid black; left: 50%; margin-left: -325px; width: 650px; height: 500px; background-color: white;}
.food_pup_box button{width: 100px; height: 50px; display: block; margin: 20px auto;}
.food_pup_box>div{width: 550px; height: 100%; margin: 20px auto;}
.food_pup_box  > img{margin-top: 40px;}

.job_jung > p{font-weight: bold;}

footer > p{text-align: center; line-height: 120px;}

.now_date{font-size: 30px; color: #4171ff;/*width: 249px; height: 135px;*/}

.left_btn{float: left;}
.right_btn{float: right;}
.left_btn,.right_btn{cursor: pointer;}

.date_box{width: 259px; height: 115px; line-height: 115px;}
